* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
}

span {
    background-color: white;
    flex: 1;
    text-align: left;
    overflow-wrap: anywhere;
    margin: 0 10px;
}

input[type='checkbox'] {
    margin: 1rem;
    padding: 1rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5
}

.delete-btn {
    border: none;
    padding: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(81,46,88,0.85);
}

.delete-btn:hover {
    background: rgba(162,0,28,0.85);
    color: white;
}

.delete-btn:active {
    background: transparent;
    color: darkred;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin: 3rem 0;
}

.header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.to-do-list {
    text-align: center;
    position: relative;
    z-index: 16;
    color: white;
    max-width: 40em;
    transition: max-width 0.3s ease;
}

.to-do-container {
    margin-top: 2rem;
}

.fa-plus {
    transition: all 0.5s ease;
}

.fa-plus:active {
    transform: rotate(360deg);
    transition: all 0.5s ease;
    color: white;
}

.fa-trash {
    pointer-events: none;
}

#input-task, #add-task-button {
    background: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#add-task-button {
    color: #27273c;
    cursor: pointer;
    transition: all 0.3s ease;
}

#input-task {
    width: 100%;
    outline: none;
}

#add-task-button:hover {
    background: #27273c;
    color: white;
}

#task-list {
    list-style: none;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@media (max-width: 1300px) {
    .to-do-list {
    max-width: 60%;
}
}